# tuple is immutable means cannot be changed -->new memory is allocated and old values are replaced
# Declared as t=1,2,3
# t=(1,2,3)
# t.count(x)--returns count of x
# index(x)--returns the position of x in tuple
# t2*x-- the tuple is repeated x no.of times 
# t2+t1-- the tuple t1 is added at end
# slicing works here aswell

In [1]:
t=()
type(t)

tuple

In [4]:
t1=3,4,5,6,7
print(t1)
type(t1)

(3, 4, 5, 6, 7)

tuple

In [5]:
t2=(3,4,5,6,7)
print(t2)
type(t2)

(3, 4, 5, 6, 7)

tuple

In [7]:
t2.count(3)

1

In [9]:
t2.index(3)

0

In [11]:
print(id(t2))
t2=(5,6,7,8)
print(id(t2))

2025455378944
2025471028304

In [13]:
t2=(5,6,7,8)
t2*3

(5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8)

In [18]:
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [31]:
t1=(1,2,3,4)
# print(t1[:1])
# print(t1[2:])
print(t1[:-1])

(3, 4)
(1, 2, 3)
(1,)

In [26]:
t1=(1,2,3,4)
for i in enumerate(t1):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [38]:
t=(1,'sai')
print(type(t))
print(t[1]) #sai
print(t[1][0]) #s
print(t[1][1]) #a
print(t[1][2]) #i

<class 'tuple'>
sai
s
a
i

In [39]:
t=(1,'sai')
print(t[1][3])
print(t[1]) #sai
print(t[1][0]) #s
print(t[1][1]) #a
print(t[1][2]) #i

IndexError: string index out of range

In [41]:
t=(1,'sai',[1,2,3])
print(t)

(1, 'sai', [1, 2, 3])

In [13]:
t1=(1,2,3,4)
print(t1[:-2])

(1, 2)

1