In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ------- -------------------------------- 2.9/16.1 MB 18.6 MB/s eta 0:00:01
   -------------------- ------------------- 8.4/16.1 MB 22.6 MB/s eta 0:00:01
   ---------------------------------- ----- 13.9/16.1 MB 23.6 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 24.0 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 24.0 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 15.1 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector

# Establish a connection
conn = mysql.connector.connect(
    host="localhost",      # e.g., "localhost" or "127.0.0.1"
    user="root",
    password="1234",
    database="nit"  # Optional, specify a database
)

# Create a cursor object
cursor = conn.cursor()

# Execute a simple query
cursor.execute("SELECT DATABASE();")
db_name = cursor.fetchone()
print("Connected to database:", db_name)

# Close the connection
cursor.close()
conn.close()

Connected to database: ('nit',)

In [12]:
import mysql.connector
from mysql.connector import Error

try:
    conn = mysql.connector.connect(
    host="localhost",      # e.g., "localhost" or "127.0.0.1"
    user="root",
    password="1234",
    database="nit"  # Optional, specify a database
)

    if conn.is_connected():
        print("Connected to MySQL")
    
except Error as e:
    print("Error:", e)

finally:
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("SELECT * FROM student")
        rows = cursor.fetchall()
        for row in rows:
          print(row)
        # conn.close()
    # print("MySQL connection closed")

Connected to MySQL
('SairamVenkat', 1, 'Hyderabad', 85)
('Subrahmanaya', 2, 'Chennai', 85)
('Ravi', 3, 'Hyderabad', 85)
('Krishna', 4, 'Hyderabad', 85)
('Satya', 5, 'Hyderabad', 85)
('Lakshmi Narasimha', 6, 'Hyderabad', 85)
('Hanumath', 7, 'Hyderabad', 85)
('Koti', 8, 'Hyderabad', 85)
('Triyumabakeshwara', 9, 'Hyderabad', 85)
('Sharma', 10, 'Hyderabad', 85)

In [ ]:
# Update Tbale

values = [
    ("Banglore", "SaiRamVenkat"),
    ("Nashik", "Triyumabakeshwara")
]
cursor.executemany("UPDATE student SET address = %s WHERE name = %s", values)
conn.commit()

In [18]:
# Insert Into Table 
values = [
    ("Swarnalatha",11, "Machilipatnam",100),
    # ("ParthaSarathi",12, "Guntur",100)
]
cursor.executemany("INSERT INTO student (name, id,address,marks) VALUES (%s, %s, %s,%s)", values)
conn.commit()

In [19]:
# Delete  from  Table 
delete_query = "DELETE FROM student WHERE id = %s"
values = [(13)]
cursor.execute(delete_query, values)
conn.commit()  # Commit the transaction

In [ ]:
# # Truncate table
# cursor.execute("TRUNCATE TABLE your_table")
# conn.commit()

# print("Table truncated successfully.")

In [ ]:
# Inner Join
join='''SELECT employees.name, departments.dept_name
FROM employees
INNER JOIN departments ON employees.dept_id = departments.dept_id'''

In [ ]:
# left join
join =''' 
SELECT employees.name, departments.dept_name
FROM employees
LEFT JOIN departments ON employees.dept_id = departments.dept_id;
'''

In [ ]:
# Right Join
join='''
SELECT employees.name, departments.dept_name
FROM employees
RIGHT JOIN departments ON employees.dept_id = departments.dept_id;
'''

In [ ]:
# Full Outer join can be achieved using union
fullouterjoin='''
SELECT employees.name, departments.dept_name
FROM employees
LEFT JOIN departments ON employees.dept_id = departments.dept_id
UNION
SELECT employees.name, departments.dept_name
FROM employees
RIGHT JOIN departments ON employees.dept_id = departments.dept_id;
'''

In [ ]:
# Join with filter
join_query = """
SELECT employees.name, departments.dept_name
FROM employees
INNER JOIN departments ON employees.dept_id = departments.dept_id
WHERE departments.dept_name = 'IT'
"""