# Set defined with {}
# duplicates not allowed
# similar data type then they get auto ordered
# set doesnot allow indexing and slicing
# since set doesnot allow indexing so not mutable but allows add() so mutable.It works accordingly

# add
# update  s.update([1,2,3])-->Adds elements to set
# pop() --removes randomly-->arbitary
# copy()
# remove(x)--if x doesnot exist  error thrown,else removed
# discard(x)---if x doesnot exist no error thrown
# in returns true or false by checking if that element exists in set or not
# union combines elements in set
# intersection returms only common elements
# difference --returns 1st set uncommon elements
# Symmentric Difference  --> Un common elements btw both sets is returned
# Symmentric Difference Update This removes common elements and adds unique elements from set2 to set1.
# Superset  If s1 set object exists in s2 then s2 is superset 
# SubSet  If s1 set object exists in s2 then s1 is subset
# Disjoint  If  no common objects then disjoint
# set is enumeratable
# set can be enumerable as list aswell

In [5]:
s={}
type(s)
s=set()
type(s)

set

In [3]:
s1={1,2,3}
s2={4,5,6}
s3=s1|s2
s4=s1 & s2
print(s3)
print(s4)

{1, 2, 3, 4, 5, 6}
set()

In [22]:
s1.add(8)
print(s1)

{8, 1, 2, 3}

In [10]:
s2={200,3,1,20,10,10}
s2

{1, 3, 10, 20, 200}

In [11]:
s={'m','z','r'}
s

{'m', 'r', 'z'}

In [12]:
s={'m','z','r',1,5.9,2}
s

{1, 2, 5.9, 'm', 'r', 'z'}

In [18]:
s={11.8,2.9,1}
s

{1, 2.9, 11.8}

In [29]:
s={11.8,2.9,1}
s.add(1000)
print(s)

{1000, 1, 2.9, 11.8}

In [26]:
s1=s.copy()
print(s1)

{1000, 1, 2.9, 11.8}

In [27]:
s1.pop()
s1

{1, 2.9, 11.8}

In [32]:
s={11.8,2.9,1}
s.remove(11.8)
s

{1, 2.9}

In [38]:
s.discard(5000)
s
s.pop(2)

TypeError: set.pop() takes no arguments (1 given)

In [42]:
s={1,2,7,93,4,5,6}
s.add(8)
s

{1, 2, 4, 5, 6, 7, 8, 93}

In [1]:
s={1,2,7,93,4,5,6}
s.append(10)

AttributeError: 'set' object has no attribute 'append'

In [7]:
s={"sai"}
print(2 in s)
print("sai" in s)

False
True

In [8]:
s={1,2,7,93,4,5,6}
for i in s:
    print(i)

1
2
4
5
6
7
93

In [9]:
s={1,2,7,93,4,5,6}
for i in enumerate(s):
    print(i)

(0, 1)
(1, 2)
(2, 4)
(3, 5)
(4, 6)
(5, 7)
(6, 93)

In [11]:
s={1,2,7,93,4,5,6}
s.add(10)
s

{1, 2, 4, 5, 6, 7, 10, 93}

In [14]:
s={1,2,7,93,4,5,6}
s.update([20,56,78])
s

{1, 2, 4, 5, 6, 7, 20, 56, 78, 93}

In [20]:
s1={1,2,3}
s2={4,5,6}
s3={7,8,8}
print(s1.union(s2).union(s3))
print(s1.union(s2,s3))
print(s1.union(s2,67))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

TypeError: 'int' object is not iterable

In [25]:
s1={1,2,3}
s2={4,5,6}
s3={7,8,8}
s1 | s2 |s3

{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
s1={1,2,3}
s2={4,5,6,1}
s3={7,8,1}
s1 & s2 & s3

{1}

In [35]:
s1={1,2,3}
s2={4,5,6,1}
s3={7,8,1}
s1.intersection(s2,s3)

{1}

In [39]:
s1={1,2,3}
s2={4,5,6,1}
s3={7,8,1}
print(s1.difference(s2,s3))
print(s1-s2)

{2, 3}
{2, 3}

In [41]:
s1={1,2,3}
s2={4,5,6,1}
s3={7,8,1}
print(s1.symmetric_difference(s3))

{2, 3, 7, 8}

In [44]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.symmetric_difference_update(set2)

print(set1)  # Output: {1, 2, 5, 6}

{1, 2, 5, 6}

In [50]:
set1 = {1,2, 3, 4, 5}
set2 = {2, 3, 4}

print(set1 >= set2)  # True (set1 is a superset of set2)
print(set2 <= set1)  # False (set2 is  a subset of set1)

True
False
True

In [51]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 4}

print(set1.issuperset(set2))  # True
print(set2.issuperset(set1))  # False

True
False

In [52]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 4}

print(set1.issubset(set2))  # False
print(set2.issubset(set1))  #  True

False
True

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

print(set1.isdisjoint(set2))  # Output: True (No common elements)

In [53]:
for i in enumerate(set1):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [54]:
list(enumerate(set1))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]